*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
header{
    overflow-x: hidden;
    background-image: url('imagens/comunicado.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 85vh;
}
nav{
    position: fixed;
    text-align: center; 
}

nav img{
    display: block;
    margin: auto;
    border: solid;
    margin-top: 20px;
    text-align: center;
}

article{
    width: 650px;
    border: solid;
    text-align: center; 
    display: block;
    margin: auto;
    transform: translateY(50%);
}

article h1, article p{
    color: #fff;
    
}

h1{
    font-size: 3rem;
}

p{
    margin-top: 15px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3rem;
}

section{
    width: 100%;
    padding-left: 80px;
    background-color: #F7F7F7;
}

section.container{
    margin-top: 50px;
    width: 100%;
    height: 100vh;
    border: solid;
    position: relative;
}

#img-01{
    margin-left: 80px;
    position: absolute;
    width: 330px;
    height: 400px;
    left: 0;
    top: 0px;
    bottom: auto;
    border: 20px solid #fff;
    
}

#img-02{
    margin-left: 80px;
    position: absolute;
    height: 485px;
    top: 80px;
    left: 180px;
    bottom: auto;
}

.zoom {
	overflow: hidden;
}
.zoom:hover  {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	transition: all 1s;

}

.direita{
    border: solid;
    width: 40%;
    position: absolute;
    right: 10%;
    padding: 10px;
}

.direita h2, .direita p{
    color: #000;

}

.direita .h2{
    margin-top: 30px;
    font-size: 3rem;
    font-weight: 300;
}

.direita .p{
    margin-top: 50px;
    font-size: 0.9rem;
    letter-spacing: 2px;
    color: #a59467;
}
    
.direita p {
    font-size: 1.1rem;
}

.direita div {
   border: none;
   background-color: transparent;
   margin-top: 80px;
   color: #a59467;   
   cursor: pointer;
}

.esquerda{
    border: solid;
    width: 40%;
    position: absolute;
    left: 10%;
    padding: 10px;
}

.esquerda h2, .esquerda p{
    color: #000;

}

.esquerda .h2{
    margin-top: 30px;
    font-size: 3rem;
    font-weight: 300;
    overflow-y: hidden;

}

.esquerda .p{
    margin-top: 50px;
    font-size: 0.9rem;
    letter-spacing: 2px;
    color: #a59467;
}
    
.esquerda p{
    font-size: 1.1rem;
}

.esquerda div{
   border: none;
   background-color: transparent;
   margin-top: 80px;
   color: #a59467;   
   cursor: pointer;
}



.example-link {
    display: block;
}

.example-link .bar {
    width: 30px;
    height: 1px;
    display: inline-block;
    background-color: #a59467;
    transition: 0.3s;
    margin-bottom: 3px;
    cursor: pointer;
}
.example-link:hover .bar {
    width: 50px;
}

.second{

    float: left;
    width: 550px; height: 100vh;
    margin: 10px 20px;
}

#div-01{
    border: solid blue;
    width: 30%;
    
}
#div-02{
    margin-top: 0;
    padding: -50px;
    border: solid red;
    width: 650px;
    overflow-y: hidden;
    height: 60vh;
}


